/* Style untuk navbar */
body {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

ul.topnav {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 31, 32);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul.topnav li a:hover:not(.active) {
    background-color: rgb(74, 74, 74);
}

ul.topnav li a.active {
    background-color: rgb(85, 198, 246);
}

body.dark-mode ul.topnav li a.active {
    background-color: rgb(159, 158, 158);
}

ul.topnav li.right {
    float: right;
    margin: 1px;
}

/* Style untuk judul konten */
.title-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style untuk section konten pertama */
.first-section {
    width: 50%;
    margin: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style untuk section konten kedua */
.second-section {
    width: 50%;
    margin: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style untuk container konten */
.flex-container-webcontent {
    display: flex;
    justify-content: center;


}

/* Style untuk form inputan BMI */
.form-input {
    background-color: rgb(230, 227, 222);
    border-radius: 10px;
    margin: 5px;
    display: grid;
    gap: 10px;
    padding: 25px;
}

/* Style untuk form inputan BMI dark mode*/
body.dark-mode .form-input {
    background-color: rgb(87, 159, 172);
    border-radius: 10px;
    margin: 5px;
    display: grid;
    gap: 10px;
    padding: 25px;
}

/* Style untuk form hasil BMI */
.form-hasil {
    background-color: rgb(230, 227, 222);
    border-radius: 10px;
    margin: 5px;
    padding: 25px;
    justify-items: center;
}


/* Style untuk form hasil BMI */
body.dark-mode .form-hasil {
    background-color: rgb(87, 159, 172);
    border-radius: 10px;
    margin: 5px;
    padding: 25px;
    justify-items: center;
}

/* Style untuk form artikel */
.form-artikel {
    background-color: rgb(230, 227, 222);
    border-radius: 10px;
    margin: 5px;
    padding: 25px;

}

/* Style untuk form artikel */
body.dark-mode .form-artikel {
    background-color: rgb(87, 159, 172);
    border-radius: 10px;
    margin: 5px;
    padding: 25px;

}

/* Style untuk tombol hitung BMI */
.btn-hitung {
    background-color: rgb(85, 198, 246);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    margin: 0px;
}

/* Style untuk tombol hitung BMI dark mode*/
body.dark-mode .btn-hitung {
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    margin: 0px;
}

/* Style untuk tombol reset inputan dan hasil BMI */
.btn-reset {
    background-color: rgb(255, 254, 254);
    color: black;
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    margin-left: 10px;
}

/* Style untuk tombol reset inputan dan hasil BMI dark mode*/
body.dark-mode .btn-reset {
    background-color: rgb(186, 183, 183);
    color: black;
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    margin-left: 10px;
}

/* Style untuk Mode terang */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Style untuk Mode gelap */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Style untuk inputan BMI */
#beratBmi {
    width: 100%;
}

#usiaBmi {
    width: 100%;
}

#tinggiBmi {
    width: 100%;
}

/* Style untuk hasil hitung BMI */
.hasil-kalkulasi {
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Style untuk footer konten */
.footer {
    text-align: center;
}


/* responsive design */
@media only screen and (max-width:600px) {

    /* Style untuk navbar */
    ul.topnav li.right {
        float: none;
        justify-self: center;
    }

    ul.topnav li {
        float: none;

    }

    /* Style untuk responsive container konten */
    .flex-container-webcontent {
        display: grid;
        justify-content: center;

    }

    /* Style untuk responsive section konten pertama */
    .first-section {
        width: 90%;
        margin: 20px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Style untuk responsive section konten kedua */
    .second-section {
        width: 90%;
        margin: 20px;
        text-align: justify;
    }



}